@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --font__color--main: whitesmoke;
    --color--accent: #FDE916;
    --color--secondary: #CE512A;
    --color--blue: #36679C;
    --color--background: #1e1f22;
    --border--color: #FF9A17FF;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto Thin", sans-serif;
    font-size: 1.5rem;
    color: var(--font__color--main);
    background-color: var(--color--background);
}

::-webkit-scrollbar {
    width: 0;
}

.header {
    position: sticky;
    z-index: 5;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color--background);
}

.header__img {
    width: 16rem;
    height: auto;
}

.title, .title__subtitle {
    font-family: "Nunito Sans", sans-serif;
    padding: 1rem;
    text-align: center;
}

.title {
    font-size: 2.75em;
    padding-top: 5%;
}

.title__subtitle {
    padding-top: 0;
}

.title__emoji {
    vertical-align: middle;
}

.nav {
    padding: 1.9rem 2.5rem;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    gap: 1.8em;
}

.nav__link {
    transition: color 0.3s ease-in-out;
    color: var(--font__color--main);
}

.nav__link:hover {
    color: var(--color--accent);
}

.nav__link:active {
    color: #d9c814;
}

.nav__link--active {
    color: var(--color--accent) !important;
    transition: color 0s;
}

.main {
    padding: 6.25rem 0;
    text-align: center;
}

.main__img {
    width: 70%;
    height: auto;
    border: 6px solid var(--color--accent);
    box-shadow: 0 5px 15px 3px rgb(253, 153, 22);
}

.main__description {
    line-height: 1.75;
    padding: 6.25rem 14rem;
}

.main__ascii {
    color: var(--color--accent)
}

.main__code {
    display: block;
    padding-top: 0.7em;
}

.benefits {
    width: 75%;
    margin: auto;
}

.benefits__section {
    display: flex;
    align-items: center;
    padding: 2.5rem 2rem;
    column-gap: 2.5rem;

    &:nth-child(1) .benefits__section__img,
    &:nth-child(3) .benefits__section__img {
        transform: translateX(-40%);
        opacity: 0;
    }

    &:nth-child(2) .benefits__section__img {
        transform: translateX(30%);
        opacity: 0;
    }
}

.benefits__section:nth-child(2) {
    flex-direction: row-reverse;
}

.benefits__section__img {
    width: 60%;
    height: auto;
    transition: transform 1.75s ease-in-out,
    opacity 1.5s ease-in-out;
    border: 5px dashed var(--color--accent);
}

.benefits__section__img--visible {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.benefits__section--description {
    line-height: 1.5;
    padding-top: 1.87em;
    text-align: center;
}

.review-slider {
    width: 100%;
    padding: 5rem 0.6rem;
}

.review-slider__text {
    font-size: 1.5em;
    text-align: center;
}

.review-slider__slider {
    display: flex;
    justify-content: center;
    padding-top: 1.87rem;
}

.review {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 600px;
    margin: 1.87em;
    padding: 2.19rem;
    transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
    border: 5px solid var(--color--accent);
    border-radius: 7px;
    background-color: var(--color--background);
    box-shadow: 0 5px 15px 3px rgb(179, 108, 16);
    aspect-ratio: 1/1;
}

.review:first-child {
    margin-top: 5%;
    margin-right: -5%;
    transform: translateY(5px);
}

.review:nth-child(2) {
    z-index: 1;
}

.review:nth-child(3) {
    margin-top: 5%;
    margin-left: -5%;
    transform: translateY(5px);
}

.review:hover {
    z-index: 3;
    transform: translateY(0);
    box-shadow: 0 5px 15px 5px rgb(255, 154, 23);
}

.review__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1.25rem;
}

.review__img {
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.review__name {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 0.5em;
}

.review__rating {
    width: 70%;
    height: auto;
    padding: 1rem 0;
}

.review__text {
    line-height: 1.25;
    display: flex;
    align-items: center;
    flex: 1;
    padding-top: 1.25rem;
    text-align: center;
}

.footer__hr {
    border: 1px solid var(--font__color--main);
    box-shadow: 0 0 5px 1px var(--color--accent);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.56rem 2.5rem 1.5rem;
}

.footer__load-time {
    @media (max-width: 992px) {
        display: none;
    }
}

.contacts__logo {
    width: auto;
    height: 3rem;
}

.contacts__mail {
    padding-left: 1.56rem;
    transition: color 0.25s ease-in-out;
    color: var(--color--accent);

    &:hover {
        color: #e3d214;
    }

    &:active {
        color: #ccbe1f;
    }
}

.social-media__link__img {
    width: auto;
    height: 3rem;
    transition: height 0.25s ease-in-out;

    &:hover {
        height: 2.75rem;
    }

    &:active {
        height: 2.5rem;
    }
}

.color--yellow {
    color: var(--color--accent);
}

.header__decor {
    position: fixed;
    z-index: 5;
    top: 20%;
    left: 0;
    width: 4rem;
    height: 70%;
    border-radius: 0 10px 10px 0;
    background-image: url("../img/patterns/pattern1.svg");
    /*animation: moving-pattern 20s infinite linear;*/
    background-size: 30%;
}

.header__decor--gamepad {
    position: absolute;
    top: 1rem;
    left: 47%;
    width: auto;
    height: 6rem;
    opacity: 0.5;
}

.price__desc {
    font-size: 1.25em;
    font-weight: bold;
    margin: 7rem 20rem 1rem;
    padding: 1.5rem;
    text-align: center;
}

.price__table {
    display: grid;
    margin: 0 20rem 3rem;
    text-align: center;
    border: 5px solid var(--border--color);
    border-radius: 10px;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 0 5px 15px 5px rgba(204, 99, 18, 0.8);
}

.table__header {
    font-weight: bold;
    padding: 1rem;
    border-right: 4px solid var(--border--color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 64, 0, 0.5);

    &:last-child {
        border-right: none;
    }
}

.table__row {
    border-bottom: 4px solid var(--border--color);
    display: grid;
    grid-template-columns: 1.3fr repeat(4, 1fr);

    &:last-child {
        border-bottom: none;
    }

    &:nth-child(even) {
        background-color: rgba(248, 145, 46, 0.15);
    }

    &:nth-child(odd) {
        background-color: rgba(66, 34, 3, 0.35);
    }
}

.table__data {
    padding: 1rem;
    border-right: 4px solid var(--border--color);
    align-content: center;

    &:nth-child(1) {
        font-weight: bold;
        text-align: left;
        background-color: rgba(128, 64, 0, 0.5);
    }

    &:last-child {
        border-right: none;
    }
}


#logo {
    margin: 20px 30px;
}

@keyframes moving-pattern {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 100%;
    }
}

#promo-code {
    width: 30%;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;

    @media (max-width: 576px) {
        width: 100%;
    }
}

.toaster {
    text-align: center;
    line-height: 1.75;
    background-image: linear-gradient(to bottom right, rgb(201, 89, 23), rgb(203, 81, 13)) !important;
    box-shadow: 0 3px 10px 2px rgba(252, 153, 23, 0.3) !important;
}

.toaster--notification {
    text-align: center;
    background: var(--color--background) !important;
    box-shadow: 0 0 5px 1px rgba(245, 245, 245, 0.2) !important;
}