.underline {
    text-decoration: underline #FDE916FF;
}

.line-through {
    text-decoration: line-through #c6200a;
    background-color: rgba(158, 26, 9, 0.75);
}

.cursive {
    font-style: italic;
}